.hdr {
    font-family: Verdana;
    font-size: 3em;
    font-weight: bold;
    color: orange;
    letter-spacing: -0.11em;
    text-shadow: -0.05em 0px 0.07em #000000;
}


}
body {
    font: 14px Arial, Helvetica, sans-serif;
    /* Рубленый шрифт текста */

    margin: 0;
    /* Отступы на странице */
}
h1 {
    font-size: 36px;
    /* Размер шрифта заголовка шапки */

    margin: 0;
    /* Убираем отступы */

    color: #fc6;
    /* Цвет текста заголовка шапки */
}
h2 {
    margin-top: 0;
    /* Убираем отступ сверху */
}
.header {
    background: navy;
    /* Цвет фона шапки */

    padding: 10px;
    /* Поля вокруг текста */
}
.sidebar {
    float: right;
    /* Обтекание справа */

    font-size: 30px;
    padding: 5px;
    /* Поля внутри блока */

    margin: 1px 50px 20px 50px;
    /* Значения отступа от блока */
}
.footer {
    background: #333;
    /* Цвет фона подвал (футера) */

    padding: 5px;
    /* Поля внутри блока */

    color: #fff;
    /* Цвет текста футера */

    clear: left;
    /* Отменяем действие float */
}
a {
    text-decoration: none;
}
.custom,
.custom a:visited {
    color: white;
}
.custom a {
    padding: 10px;
}
.table {
    display: inline-block;
    display: table;
    padding: 7px;
    border: 1px solid #495058;
    background-color: white;
    padding: 5px;
    width: 1503.5px;
    height: 800;
    background-image: url();
    background-size: 100%;
}
.top9,
.top9 a:visited {
    color: black;
}
caption {
    color: black;
    font-size:20px;
}
.t1{
    padding-left: 510px;
    font-size: 27px;

}
.t2{
    font-family: "Comic Sans MS",Comic Sans, cursive;
}
