.classes {
    width: 50%;
    margin-top: 50px;
}

.class-header img {
    height: 30px;
    margin-top: -10px;
}

.class-header * {
    display: inline-block;
    font-size: 30px;
    color: white;
}

.hero {
    color: white;
    display: inline-block;
    width: 80px;
}

.hero h3 {
    font-size: 15px;
    text-align: center;
}

.class {
    padding: 10px 15px 10px 15px;
    border: 3px #212121 solid;
    border-radius: 10px;
    background-color: rgba(33, 33, 33, 0.7)
}

.heroes {
    margin: auto;
}
