.classes {
    width: 60%;
    margin-top: 50px;
    color: rgb(207, 207, 207);
}

.class {
    text-align: center;
}

.class-header img {
    height: 30px;
    margin-top: -10px;
}

.class-header * {
    display: inline-block;
    font-size: 30px;
}

.hero {
    margin-top: 10px;
    display: inline-block;
    width: 75px;
    margin-right: 10px;
}

.hero h3 {
    font-size: 15px;
    text-align: center;
}

.class {
    padding: 10px 15px 10px 15px;
    border: 3px #212121 solid;
    border-radius: 10px;
    background-color: rgba(33, 33, 33, 0.7);
    margin-bottom: 10px;
}

.heroes {
    margin: auto;
}
